@model OnlineStore.Models.ViewModels.AllOrdersListViewModel

@{
    ViewData["Title"] = "AllOrdersList";
}

<div class="container bg-light rounded rounded-3 p-3 mb-3">

    <div class="display-4 mb-5">
        List of orders
    </div>

    <form asp-action="AllOrdersList" method="get" class="mb-5">
        <label class="form-label" asp-for="OrderFilterViewModel.SelectStates">Order State</label>
        <select class="form-select bg-light text-dark d-inline w-50" name="orderState" asp-items="@Model.OrderFilterViewModel.SelectStates"></select>
        <input type="submit" class="btn btn-primary" value="Filter" />
    </form>


    @foreach (var order in Model.Orders)
    {
        @await Html.PartialAsync("_OrderItem", order)
    }
</div>



<page-link page-list-model="Model.PageListViewModel" page-action="AllOrdersList"
           page-url-productId="@(Model.OrderFilterViewModel.SelectStates)">
</page-link>