@*@using OnlineStore.Models.IdentityModels
    @model User*@


<div class="container  bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-success text-center" role="alert">
        Account was confirmed! <br><a asp-action="Index" asp-controller="Home" class="alert-link">On Main page</a>.
    </div>
</div>
