
<div class="container  bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-success text-center" role="alert">
        <span>Congratulate with registration!</span> To confirm registration see email message on your Email.
    </div>
</div>