@using OnlineStore.Models.IdentityModels.ViewModels
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot password?";
}

<h2 class="mb-3 bg-light text-center">@ViewData["Title"]</h2>
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Email" type="email" placeholder="name@example.com" class="form-control" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning mb-3">Enter</button>
</form>

