
@{
    ViewData["Title"] = "Reset password";
}

<h2 class="text-center bg-light">@ViewData["Title"]</h2>


<div class="container  bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-warning text-center" role="alert">
        To resert password follow the link sent to your email.
    </div>
</div>

