@using OnlineStore.Models.IdentityModels.ViewModels
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container mx-auto w-75 bg-light rounded-3">

    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div class="h2 mb-3">@ViewData["Title"]</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Code" type="hidden" />

        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" placeholder="name@example.com" class="form-control form-control-sm" />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Password" type="password" placeholder="new password" class="form-control" />
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" type="password" placeholder="confirm new password" class="form-control" />
            <label asp-for="ConfirmPassword">Confirm password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning mb-3">Reset</button>
    </form>

</div>

