
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container  bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-success text-center" role="alert">
        Your password has been discarded. To login follow  <br><a asp-action="Login" class="alert-link">The link</a>.
    </div>
</div>

