
:root {
    --main-box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
}

body {
    /*background-color: var(--bs-light);*/
}

#navbar {
    /*position:sticky;*/
    transition: top 0.3s;
}

:hover.main-box-shadow {
    box-shadow: var(--main-box-shadow);
    transform: scale(1.01, 1.01);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

:hover.filter-button {
    background-color: green;
    /*color: white;*/
    transition: all 0.3s ease-in-out;
}


.altetnate-table-hover tr:hover {
    box-shadow: var(--main-box-shadow);
    transform: scale(1.01, 1.005);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}



/*Стили для переноса на новый столбец*/
.grid {
    display: grid;
    grid-template-rows: repeat(10, auto);
    /*grid-gap: 10px;*/
    grid-auto-flow: column;
}

.grid-child {
    background: mediumseagreen;
    color: white;
}
/*Конец стилей переноса*/