@model OnlineStore.Models.ViewModels.ManufacturerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Manufacturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="mb-3">
                <span class="text-info">* </span>
                <label asp-for="Manufacturer.Title" class="form-label"></label>
                <input asp-for="Manufacturer.Title" class="form-control" />
                <span asp-validation-for="Manufacturer.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span class="text-info">* </span>
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

