@model OnlineStore.Models.ViewModels.ManufacturerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Manufacturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="needs-validation" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Manufacturer.Id" />

            <div class="mb-3">
                <label asp-for="Manufacturer.Title" class="form-label"></label>
                <input asp-for="Manufacturer.Title" class="form-control" value="@Model.Manufacturer.Title" />
                <span asp-validation-for="Manufacturer.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <div class="form-text mb-5">Change image</div>
                <figure class="figure text-center">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Manufacturer.Image))" class="figure-img img-fluid rounded" style="width:10rem" alt="Manufacturer image">
                    <figcaption class="figure-caption">Current picture.</figcaption>
                </figure>
            </div>

            <input asp-for="Manufacturer.Image" type="hidden" />

            <input type="submit" value="Save" class="btn btn-primary" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

